# strings/.gitignore

## —— Project Files —— ##
out/
build/
archive/

## —— System Files ——— ##
.DS_Store
Icon?

## —— IDEs ——————————— ##
.idea/
.vscode/

## —— Other —————————— ##
~$*
*_temp*
# all dotfiles not in the root
*/**/.*
